.contact {
  display: block;
  width: 100%;
  height: auto;
  background-color: #ecf0f1;
  &__gradient {
    display: block;
    width: 100%;
    height: 4px;
    background-image: linear-gradient(to left, #35eef6 0%, #70269f 100%);
  }
  &__about-us {
    max-width: 386px;
    min-width: 300px;
    height: auto;
    color: #606366;
    float: left;
    margin-left: 365px;
    & p {
      width: 385px;
      height: 87px;
      color: #606366;
      font-family: Lato;
      font-size: 16px;
      font-weight: 300;
      line-height: 24px;
      //text-align: left;
    }
  }
  &__us {
    max-width: 446px;
    min-width: 415px;
    height: 228px;
    color: #606366;
    margin-left: 27px;
    float: left;
    :nth-child(5) {
      float: right;
      margin-top: -75px;
      width: 150px;
    }
    :nth-child(6) {
      float: right;

    }
  }

  /*&__cordinats {
    display: block;


  }
  &__find-us {
    display: block;
    width: 200px;
    height: 25px;
    color: #606366;
    font-family: Lato;
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 0px;
    !* Text style for "info@compa" *!
    color: #34383d;
  }*/
  .fa-ul {
    color: #606366;
    font-size: 16px;
    margin-left: 0px;
    li {
      max-width: 180px;
      &:before {
        content: url("../images/icon-border(circle).svg");
        margin-left: -1px;
      }
    }
  }
  .fa-li {
    padding-left: 1px;
    font-size: 12px;
    color: #a255c4;
    margin-left: 25px;
    margin-top: 5px;
  }
  .fa-map-marker:first-child {
    margin-left: 24px;
  }
  .pp {
    display: block;
    max-width: 180px;
    height: 18px;
    margin-left: 30px;
    margin-top: -26px;
    font-family: Lato, sans-serif;
  }
  .lastli {
    float: right;
    width: 200px;
    margin-top: -110px;
    margin-right: 16px;
    & i {
      padding-left: 2px;
      padding-top: 1px;
    }
  }
  &__open-gmaps {
    display: block;
    float: right;
    width: 194px;
    height: 38px;
    border: 1px solid #bdc3c7;
    border-radius: 4px;
    margin-top: -47px;
    text-align: center;
    text-decoration: none;
    color: #34383d;
    font-family: Lato, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    padding-top: 5px;
    &:hover {
      border-color: #a255c4;
      color: #a255c4;
      transition: 0.7s;
    }
  }
  &__social {
    width: 310px;
    height: 228px;
    color: #606366;
    float: left;
    margin-bottom: 20px;
    margin-left: 57px;

    & i {
      margin-right: 15px;
      margin-bottom: 15px;
      padding-left: 11px;
      padding-top: 8px;
      color: #d1d5d8;
      font-size: 18px;
      font-weight: 400;
      line-height: 24px;
      border: 2px solid #d1d5d8;;
      border-radius: 50%;
      width: 43px;
      height: 43px;
    }
  }
    .fa-facebook:hover {
    background-color: #39599f;
    color: #ffffff;
    border-color: #39599f;
    transition: 0.8s;
  }
  .fa-twitter:hover {
    background-color: #40bff5;
    color: #ffffff;
    border-color: #40bff5;
    transform: scale(1.5);
    transition: 6.3s;
  }
  .fa-google-plus:hover {
    background-color: #eb5b4c;
    color: #ffffff;
    transform: rotateZ(360deg);
    border-color: #eb5b4c;
    transition: 1.9s;
  }
  .fa-pinterest-p:hover {
    background-color: #b8242a;
    color: #ffffff;
    border-color: #b8242a;
    transition: 0.8s;
  }
  .fa-dribbble:hover {
    background-color: #e65992;
    color: #ffffff;
    border-color: #e65992;
    transition: 0.8s;
  }
  .fa-flickr:hover {
    background-color: #ff1981;
    color: #ffffff;
    @-webkit-keyframes fa-flickr {
      25% {
        transform: translateX(-9px);
      }
      50% {
        transform: translateY(8px);
      }
      75% {
        transform: translateX(9px);
      }
      100% {
        transform: translateY(-8px);
      }
    }
    animation: fa-flickr 1.4s ease;
    animation-iteration-count: 1;
    //transition: 1.8s;
  }
  .fa-youtube-play:hover {
    background-color: #cd322c;
    color: #ffffff;
    border-color: #cd322c;
    transition: 0.8s;
  }
  .fa-vimeo:hover {
    background-color: #44bbff;
    color: #ffffff;
    border-color: #44bbff;
    transition: 0.8s;
  }
  .fa-instagram:hover {
    background-color: #a47a5e;
    color: #ffffff;
    border-color: #a47a5e;
    transition: 0.8s;
  }
  .fa-linkedin-square:hover {
    background-color: #328dd3;
    color: #ffffff;
    border-color: #328dd3;
    @-webkit-keyframes fa-linkedin-square {
      25% {
        transform: scale(0.7);
      }
      44% {
        transform: scale(1.2);
      }
      58% {
        transform: scale(1.35);
      }
      70% {
        transform: scale(1.5);
      }
      86% {
        transform: scale(1.35);
      }
      100% {
        transform: scale(1.9);
      }
    }
    animation: fa-linkedin-square 2.4s ease;
    animation-iteration-count: 5;
    //transition: 4s;
  }
  &__copyright {
    clear: both;
    display: block;
    width: 100%;
    height: 72px;
    background-color: #bdc3c7;
    & h3 {
      display: block;
      width: 270px;
      height: 18px;
      color: #899096;
      font-family: Lato;
      font-size: 16px;
      font-weight: 300;
      line-height: 18px;
      letter-spacing: 0.4px;
      margin: 0 auto;
      padding-top: 28px;

    }
  }
  &__banner {
    color: #34383d;
    font-family: Lato;
    font-size: 20px;
    font-weight: 300;
    line-height: 21px;
    text-align: left;
    padding-top: 33px;
  }
  @media all and (max-width: 1590px) {
    &__about-us {
      margin-left: 25px;
    }
    #top {
      right: 7%;
      bottom: 13px;
    }
  }
  @media all and (max-width: 1270px) {
    &__us {
      margin-left: 18px;
    }
    &__social {
      margin-left: 15px;
    }
  }
  @media all and (max-width: 1186px) {
    &__social {
      width: 100%;
      height: auto;
      display: inline-block;
      margin-top: -80px;
      padding-left: 10px;
    }
    &__us {
      margin-left: 120px;
    }
  }
  @media all and (max-width: 960px) {
    &__description {
        margin: 0 auto;
        //float: left;
      }
    &__about-us, &__us, &__social {
      margin-left: 10%;
    }
    &__us {
      height: auto;
    }
    &__social {
      padding-left: 0;
    }
  }
  }

#top {
  position: fixed;
  right: 224px;
  bottom: 20px;
  width: 43px;
  height: 43px;
  border-radius: 50%;
}

.arrow {
  width: 43px;
  height: 43px;
  opacity: 0.5;
  background-color: transparent;
  border-radius: 50%;
  &:hover {
    opacity: 1;
    transform: scale(1.3);
    transition: 0.9s;
  }
}

