.header {
  display: block;
  width: 100%;
  min-width: 320px;
  height: 404px;
  background-image: linear-gradient(to left, #35eef6 0%, #70269f 100%); }
  .header__content {
    display: block;
    position: fixed;
    width: 100%;
    height: 100px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12);
    background-color: #ffffff;
    margin-top: 4px; }
  .header__logo {
    display: inline-block;
    width: 105px;
    height: 26px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(-55deg, #35eef6 0%, #70269f 100%);
    color: #34383d;
    font-size: 26px;
    font-weight: 300;
    line-height: 26px;
    float: left;
    margin-left: 365px;
    margin-top: 36px; }
  .header__navigation-menu {
    width: 100%;
    height: auto;
    padding-top: 24px; }
  .header__menu-item {
    display: inline-block;
    padding-right: 55px; }
    .header__menu-item:first-child {
      margin-left: 330px; }
  .header__name-list {
    color: #34383d;
    font-family: Lato;
    font-size: 18px;
    font-weight: 300;
    line-height: 20px; }
    .header__name-list:hover {
      color: #41bedd; }
    .header__name-list:after {
      content: url("../images/chevron-in header.svg");
      width: 11px;
      height: 7px;
      color: inherit;
      padding-left: 4px; }
  .header__menu-list {
    position: absolute;
    display: block;
    opacity: 0;
    top: -500em;
    margin-top: 60px;
    padding-top: 20px;
    padding-left: 0; }
    .header__menu-list :hover {
      transition: 1.1s; }
    .header__menu-list li {
      display: block;
      width: 229px;
      height: 45px;
      border: 1px solid #ecf0f1;
      border-right: none;
      border-left: none; }
      .header__menu-list li a {
        display: block;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12), inset 1px 0 0 #ecf0f1;
        background-color: #ffffff;
        padding: 14px 19px 14px 21px;
        color: #34383d;
        font-family: Lato;
        font-size: 16px;
        font-weight: 300;
        text-decoration: none; }
        .header__menu-list li a:hover {
          background-color: #f7f9f9;
          color: #41bedd; }
        .header__menu-list li a:after {
          content: url("../images/chevron-submenu.svg");
          width: 8px;
          height: 11px;
          color: #606366;
          float: right; }
  .header__submenu-list {
    position: absolute;
    left: 188px;
    opacity: 0;
    margin-top: -53px; }
    .header__submenu-list li {
      display: block;
      width: 239px;
      height: 45px;
      border-bottom: 2px solid #ecf0f1; }
  .header__submenu-link:after {
    opacity: 0; }
  .header__link-to-submenu:hover .header__submenu-list {
    opacity: 1;
    transition: 0.4s; }
  .header__menu-item:hover .header__menu-list {
    opacity: 1;
    top: 20px;
    list-style: none;
    text-decoration: none;
    transition: 0.8s; }
  .header__menu-item:hover .header__name-list {
    color: #41bedd;
    transition: 0.8s; }
  .header__search {
    display: inline-block;
    width: 210px;
    height: 43px; }
  .header .fa-search {
    border: 2px solid #bdc3c7;
    border-radius: 50%;
    width: 43px;
    height: 43px;
    padding-top: 10px;
    font-size: 19px;
    color: #bdc3c7; }
    .header .fa-search:hover {
      background-color: rgba(75, 219, 254, 0.43);
      transition: 1.8s; }
  .header .search-field {
    cursor: pointer;
    height: 43px;
    width: 70px;
    border: none;
    outline: none;
    transition: 0.4s;
    margin-left: -40px; }
  .header .search-area {
    width: 125px;
    margin: 10px;
    outline: none;
    border: none;
    border-bottom: 2px solid #41bedd;
    color: #e65992; }
  .header .search-area::-webkit-input-placeholder {
    color: #c0392b;
    opacity: 0.5; }
  .header .search-area::-moz-placeholder {
    /* Firefox 19+ */
    color: #c0392b;
    opacity: 0.5; }
  .header .outgoing-panel {
    display: none;
    width: 150px;
    height: 43px;
    float: left; }
  .header .search-field--location {
    background-color: transparent;
    color: #ffe9c1; }
  .header .show {
    display: block;
    margin-right: 30px;
    transition: 1s; }
  .header__banner {
    color: #ffffff;
    font-family: Lato;
    font-size: 55px;
    font-weight: 300;
    line-height: 55px;
    padding-top: 212px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 14px; }
  .header__way {
    color: #ecf0f1;
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    text-align: center; }
  @media all and (max-width: 1900px) {
    .header__menu-item:first-child {
      margin-left: 60px; }
    .header__logo {
      margin-left: 70px; } }
  @media all and (max-width: 1270px) {
    .header__menu-item:first-child {
      margin-left: 20px; }
    .header__logo {
      margin-left: 30px; } }
  @media all and (max-width: 1186px) {
    .header__menu-item {
      padding-right: 25px; }
    .header__menu-item:first-child {
      margin-left: 15px; }
    .header__search {
      margin-left: 20px; } }
  @media all and (max-width: 1015px) {
    .header__content {
      height: 110px; }
    .header__logo {
      margin-top: 20px;
      margin-bottom: 0px; }
    .header__navigation-menu {
      padding-top: 10px;
      float: left; }
    .header__menu-item {
      padding-right: 23px;
      float: left; }
    .header__menu-item:first-child {
      margin-left: 30px; }
    .header__menu-list {
      margin-top: 70px; }
    .header__search {
      float: right;
      margin-top: -40px; } }
  @media all and (max-width: 856px) {
    .header__logo {
      clear: both; }
    .header__menu-list {
      margin-top: 70px; }
    .header__search {
      margin-top: -97px;
      float: right; } }
