.header {
  display: block;
  width: 100%;
  min-width: 320px;
  height: 404px;
  background-image: linear-gradient(to left, #35eef6 0%, #70269f 100%);
  &__content {
    display: block;
    position: fixed;
    width: 100%;
    height: 100px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12);
    background-color: #ffffff;
    margin-top: 4px;
  }
  &__logo {
    display: inline-block;
    width: 105px;
    height: 26px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(-55deg, #35eef6 0%, #70269f 100%);
    color: #34383d;
    font-size: 26px;
    font-weight: 300;
    line-height: 26px;
    float: left;
    margin-left: 365px;
    margin-top: 36px;
  }
  &__navigation-menu {
    width: 100%;
    height: auto;
    padding-top: 24px;
  }
  &__menu-item {
    display: inline-block;
    padding-right: 55px;
    &:first-child {
      margin-left: 330px;
    }
  }
  &__name-list {
    color: #34383d;
    font-family: Lato;
    font-size: 18px;
    font-weight: 300;
    line-height: 20px;
    &:hover {
      color: #41bedd;
    }
    &:after {
      content: url("../images/chevron-in header.svg");
      width: 11px;
      height: 7px;
      color: inherit;
      padding-left: 4px;
    }
  }
  &__menu-list {
    position: absolute;
    display: block;
    opacity: 0;
    top: -500em; //меняет расположение списка на странице, предотвращает случайное открытие
    margin-top: 60px;
    padding-top: 20px;
    padding-left: 0;
    :hover {
      transition: 1.1s;
    }
    & li {
      display: block;
      width: 229px;
      height: 45px;
      border: 1px solid #ecf0f1;
      border-right: none;
      border-left: none;
      & a {
        display: block;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12), inset 1px 0 0 #ecf0f1;
        background-color: #ffffff;
        padding: 14px 19px 14px 21px;
        color: #34383d;
        font-family: Lato;
        font-size: 16px;
        font-weight: 300;
        text-decoration: none;
        &:hover {
          background-color: #f7f9f9;
          color: #41bedd;
        }
        &:after {
          content: url("../images/chevron-submenu.svg");
          width: 8px;
          height: 11px;
          color: #606366;
          float: right;
        }
      }
    }
  }
  &__submenu-list {
    position: absolute;
    left: 188px;
    opacity: 0;
    margin-top: -53px;
    & li {
      display: block;
      width: 239px;
      height: 45px;
      border-bottom: 2px solid #ecf0f1;
    }
  }
  &__submenu-link {
    &:after {
      opacity: 0;
    }
  }
  &__link-to-submenu:hover &__submenu-list {
    opacity: 1;
    transition: 0.4s;
  }
  &__menu-item:hover &__menu-list {
    opacity: 1;
    top: 20px;
    list-style: none;
    text-decoration: none;
    transition: 0.8s;
  }
  &__menu-item:hover &__name-list {
    color: #41bedd;
    transition: 0.8s;
  }
  &__search {
    display: inline-block;
    width: 210px;
    height: 43px;
    //float: left;
  }
  .fa-search {
    border: 2px solid #bdc3c7;
    border-radius: 50%;
    width: 43px;
    height: 43px;
    padding-top: 10px;
    font-size: 19px;
    color: #bdc3c7;
    &:hover {
      background-color: rgba(75, 219, 254, 0.43);
      transition: 1.8s;
    }
  }

  .search-field {
    cursor: pointer;
    height: 43px;
    width: 70px;
    border: none;
    outline: none;
    transition: 0.4s;
    margin-left: -40px;
  }
  .search-area {
    width: 125px;
    margin: 10px;
    outline: none;
    border: none;
    border-bottom: 2px solid #41bedd;
    color: #e65992;
  }
  .search-area::-webkit-input-placeholder {
    color: #c0392b;
    opacity: 0.5;
  }
  .search-area::-moz-placeholder { /* Firefox 19+ */
    color: #c0392b;
    opacity: 0.5;
  }

  .outgoing-panel {
    display: none;
    width: 150px;
    height: 43px;
    float: left;
  }
  .search-field--location {
    background-color: transparent;
    color: #ffe9c1;
  }
  .show {
    display: block;
    margin-right: 30px;
    transition: 1s;

  }
  &__banner {
    color: #ffffff;
    font-family: Lato;
    font-size: 55px;
    font-weight: 300;
    line-height: 55px;
    padding-top: 212px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 14px;
  }
  &__way {
    color: #ecf0f1;
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    text-align: center;
  }
  @media all and (max-width: 1900px) {
    &__menu-item {
      &:first-child {
        margin-left: 60px;
      }
    }
    &__logo {
      margin-left: 70px;
    }
  }
  @media all and (max-width: 1270px) {
    &__menu-item {
      &:first-child {
        margin-left: 20px;
      }
    }
    &__logo {
      margin-left: 30px;
    }
  }
  @media all and (max-width: 1186px) {
    &__menu-item {
      padding-right: 25px;
    }
    &__menu-item:first-child {
      margin-left: 15px;
    }
    &__search {
      margin-left: 20px;
    }
  }
  @media all and (max-width: 1015px) {
    &__content {
      height: 110px;
    }
    &__logo {
      margin-top: 20px;
      margin-bottom: 0px;
    }
    &__navigation-menu {
      padding-top: 10px;
      float: left;
    }
    &__menu-item {
      padding-right: 23px;
      float: left;

    }
    &__menu-item:first-child {
      margin-left: 30px;
    }
    &__search {
      float: right;
      margin-top: -40px;
    }
  }
  @media all and (max-width: 856px) {
    &__logo {
      clear: both;
    }
    &__menu-list {
      margin-top: 70px;
    }
    &__search {
      margin-top: -97px;
      float: right;
    }
  }
}
