.header {
  display: block;
  width: 100%;
  min-width: 320px;
  height: 404px;
  background-image: linear-gradient(to left, #35eef6 0%, #70269f 100%); }
  .header__content {
    display: block;
    position: fixed;
    width: 100%;
    height: 100px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12);
    background-color: #ffffff;
    margin-top: 4px; }
  .header__logo {
    width: 105px;
    height: 26px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(-55deg, #35eef6 0%, #70269f 100%);
    color: #34383d;
    font-size: 26px;
    font-weight: 300;
    line-height: 26px;
    float: left;
    margin-left: 365px;
    margin-top: 36px; }
  .header__navigation-menu {
    display: block;
    width: 100%;
    height: auto;
    padding-top: 24px; }
  .header__menu-item {
    display: inline-block;
    padding-right: 55px; }
    .header__menu-item:first-child {
      margin-left: 330px; }
  @media all and (max-width: 1900px) {
    .header__menu-item:first-child {
      margin-left: 80px; } }
  .header__name-list {
    color: #34383d;
    font-family: Lato;
    font-size: 18px;
    font-weight: 300;
    line-height: 20px; }
    .header__name-list:hover {
      color: #41bedd; }
    .header__name-list:after {
      content: url("../images/chevron-in header.svg");
      width: 11px;
      height: 7px;
      color: inherit;
      padding-left: 4px; }
  .header__menu-list {
    position: absolute;
    display: none;
    padding-left: 0;
    padding-top: 25px; }
    .header__menu-list :hover {
      transition: 1.1s; }
    .header__menu-list li a {
      display: block;
      opacity: 0.7;
      padding: 5px;
      margin-top: 3px;
      color: #ff1029;
      text-decoration: none;
      border: 1px solid transparent; }
      .header__menu-list li a:hover {
        opacity: 1;
        background-image: linear-gradient(45deg, #ff3cf0, #7c74c7, #ee6425);
        border: 1px solid #ee6425;
        color: whitesmoke; }
  .header__menu-item:hover .header__menu-list {
    display: block;
    top: 20px;
    list-style: none;
    text-decoration: none; }
  .header__menu-list:hover {
    transition: 1s; }
  .header__banner {
    color: #ffffff;
    font-family: Lato;
    font-size: 55px;
    font-weight: 300;
    line-height: 55px;
    padding-top: 212px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 14px; }
  .header__way {
    color: #ecf0f1;
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    text-align: center; }
